.custom-drag-wrapper {
  position: relative;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  margin: 1%;
  display: inline-block;
  cursor: pointer;
}

.dropzone {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 5%;
  background-color: aquamarine;
  position: fixed;
  left: 0px;
  top: 40vh;
}