.draggable-wrapper {
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 1%;
  padding: 1%;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  filter: drop-shadow(-2px 4px 3px rgba(0, 0, 0, 0.4));
}