.nintendo-image {
  position: fixed;
  top: -121px;
  right: -970px;
  transform: rotate(-19.34deg);
}

.mint-background {
  background-color: #6CD78A;
  opacity: 0.8;
}

// .seashells-focus {
//   position: absolute;
//   top: 0;
//   left: 20vw;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;
// }

.pointer {
  cursor: pointer;
}

.seashells-grid {
  position: absolute;
  top: 5vh;
  left: 10vw;
  display: grid;
  width: 80vw;
  max-height: calc(95vh - 100px);
  grid-template-columns: 50% 20% 30%;
  grid-template-rows: 33% 66%;
  align-items: center;
  justify-content: center;
  height: fit-content;

  img:hover{
    cursor: pointer;
  }

  .right-col {
    grid-column: 3/4;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .lower-left-box {
    grid-column: 1 /3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .flex-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    #top-row {
      justify-content: space-evenly;
    }
    #bottom-row {
      justify-content: flex-end;

      * {
        margin: 0 10%;
      }
    }
  }

  .tilt-1 {
    transform: rotate(19.83deg);
  }

  .tilt-2 {
    transform: rotate(-31.11deg);
  }

  .tilt-3 {
    transform: rotate(35.57deg);
  }
}

.polaroid-video-background {
  background-color: rgba(73, 71, 67, 0.76);
}

@keyframes polaroid-video-change {
  from { background: rgba(226, 182, 100, 0.5) }
    to { background-color: rgba(73, 71, 67, 0.76)}
}

.polaroid-video-background {
 animation: polaroid-video-change 2s linear;
}

.white-text {
  color: white;
}