#caption {
  background-color: #C4C4C4;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: absolute;
  bottom: 0;
  width:100vw;
  text-align: center;
}

#overlay {
  opacity: 0.1;
  background-color: black;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

#focus-content {
  z-index: 20;
  position: relative;
}

#item-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#yearbook-button {
  background-image: url('../assets/yearbook.svg');
  background-repeat: no-repeat;
  background-position: center;

  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;

  cursor: pointer;
}

#audio-button {
  background-image: url('../assets/audio.svg');
  background-repeat: no-repeat;
  background-position: center;

  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;

  cursor: pointer;
}