#explore-container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.caption {
  background-color: #242A48;
  min-height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-family: 'B612', sans-serif;
}

.bound {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  z-index: 0;
}

#overlay {
  position: absolute;
  top: 0;
  height: calc(100vh - 100px);
  width: 100vw;
  z-index: 10;
}

#focus-content {
  z-index: 20;
  position: absolute;
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-rows: calc(100vh - 100px) 100px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#item-display {
  background-image: url('../assets/explore-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#box {
  height: 220px;
  width: 170px;
}

#suitcase {
  height: 200px;
  width: 200px; 
}

.underline-item {
  display: block;
  position: fixed;
  padding: 0.2em 0;
  overflow: hidden;
  background: none;
  outline: none;
  border: none;
  font-family: 'B612', sans-serif;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .underline-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #242A48;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
  
  .underline-item:hover::after{
    transform: translate3d(0, 0, 0);
  }
}

.frog-focus {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 20%);
  grid-template-rows: calc(100vh - 100px) 100px;
  align-items: center;
  overflow: hidden;
}

.frog-focus-focus {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
  width: 100vw;
  height: calc(100vh - 100px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-center-pos {
  position: absolute;
  left: 20px;
  top: 48vh;
}

.right-center-pos {
  position: absolute;
  right: 20px;
  top: 48vh;
}

.top-right-pos {
  position: absolute;
  top: 5%;
  right: 5%;
}

.background {
  width: 100vw;
  height: calc(100vh - 100px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.background-notebook-image {
  background: url('../assets/frog-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-camera-image {
  background: url('../assets/photos/photo-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frog-green-overlay {
  background-color: rgba(31, 202, 48, 0.45);
}

.fortune-pink-overlay {
  background-color: #D76CAC;
  opacity: 0.8;
}

.seashell-blue-overlay {
  background-color: #519FA4;
  opacity: 0.8;
}

.fieldbook-blue0-overlay {
  background-color: #A6D9EF;
  opacity: 0.5;
}

.fieldbook-blue1-overlay {
  background-color: #77BDDB;
  opacity: 0.8;
}

.fieldbook-blue2-overlay {
  background-color: #3F96BC;
  opacity: 0.8;
}

.fieldbook-blue3-overlay {
  background: radial-gradient(#A6D9EF, #0e8880); /* if the changing works with pages 2C7A9B*/
  opacity: 0.8;
}

.fieldbook-blue4-overlay {
  background-color: #0B5C7E;
  opacity: 0.8;
}

.yearbook-gray-overlay {
  background-color: #757575;
  opacity: 0.8;
}

.foodjournal-green-overlay {
  background: radial-gradient(#B9CF80, #369E8C);
  opacity: 0.8;
}

.photos-focus {
  width: 70vw;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(5, 20%);
  //grid-template-rows: calc(100vh - 100px) 100px;
  grid-template-rows: repeat(3, 33%);
  //align-items: center;
  overflow: hidden;
}

.photos-orange-overlay {
  background-color: rgba(226, 182, 100, 0.5);
}

#polaroid1 {
  position: relative;
  width: auto;
  height: auto;
  //left: 425.77px;
  //top: 525px;
}

#polaroid2 {
  position: relative;
  width: auto;
  height: auto;
  //left: 223px;
  //top: 490.7px;
}

#polaroid3 {
  position: relative;
  width: auto;
  height: auto;
  //left: 792px;
  //top: 485.9px;
}

#polaroid4 {
  position: relative;
  width: auto;
  height: auto;
  //left: 823.34px;
  //top: 153px;
}

#polaroid5 {
  position: relative;
  width: auto;
  height: auto;
  //left: 945px;
  //top: 351.67px;
}

#photo-strip {
  position: relative;
  width: auto;
  height: auto;
  //left: 644.54px;
  //top: 168px;
}

#postcard {
  //position: absolute !important;
  position: relative;
  //width: 478.79px;
  width: auto;
  //height: 324.63px;
  //width: 100%;
  height: auto;
  //left: 296.45px;
  //top: 125px;
}

.x-btn {
  color: white;
  font-weight: 1000;
  font-size: 50px;
  border-radius: 15px;
  height: 60px;
  width: 60px;
  background: black;
  border-radius: 30px;
  text-align: center;
}

.full-size {
  width: 100%;
  height: 100%;
}


#frog-preview {
  max-width: 400px;
  max-height:300px;
}

#plant-preview {
  width: 400px;
  max-width: 400px;
  max-height: 400px;
}