.intro-page {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    text-align: left;
    color: black;
}

.title {
    font-weight: bold;
    font-size: 45px;
}

.options {
    display: flex;
    min-width: 40vw;
    justify-content: space-between;
}

.narrative-option {
    font-weight: bold;
}

.explore-option {
    font-weight: bold;
}

.narrative-desc {
    display: none;
    width: 240px;
}

.explore-desc {
    display: none;
    width: 220px;
}

.narrative-option:hover + .narrative-desc {
    display: block;
}

.explore-option:hover + .explore-desc {
    display: block;
}

.narrative-option:visited {
    color: black;
}

.explore-option:visited {
    color: black;
}
