@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables and Defaults
$font-primary: 'B612', sans-serif;

$color-caption-background: #0c1235;
$color-text-light: #eafcf8;
$color-text-dark: #0c1235;

body {
  font-family: $font-primary;
  letter-spacing: 0.05rem;
}
