
$color-dark: #192450;
$color-light: #FFFBF4;
.page-container {
  background-color:$color-light;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-dark;
}

.narrative-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: left;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: $color-dark;
}

.page-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50%;
  font-size: calc(10px + 1vmin);
  text-align: left;
}

.button-container {
  position: absolute;
  width: 90%;
  top: 50vh;
}

.prevButton {
  height: 50px;
}

.nextButton {
  height: 50px;
}

.progress-bar {
    color: $color-dark;
}

.centerText{
    text-emphasis: none;
    /*
    text-align: center;
    padding-right: 200px;
    */
}

.fadeInText{
    width: 100%;

}
#skip-narrative-btn {
  position: absolute;
  width: 91px;
  height: 38px;
  left: 47vw;
  top: 28px;
}

.arrow-btn {
  cursor: pointer;
  position: absolute;
  height: 50px;
}

.left-arrow {
  left: 7px;
}

.right-arrow {
  right: 7px;
}

#progress-bar-border {
  position: absolute;
  bottom: 50px;
  height: 5px;
  width: 80%;
  border-radius: 70px;
  border-style: solid;
  border-width: thin;
}

#progress-bar-inner {
  height: 100%;
  background-color: $color-dark;
  border-radius: 70px;
}

.text-columns {
  display: flex;
}

.text-left {
  max-width: 60%;
  margin-right: 40px;
}
.text-right {

}
#text1 {
  width: 70%;
}