.plants-color-background {
  background: linear-gradient(#a0b7da 0%, #a0b7da 75.64%, #7b92b7 75.64%, #7b92b7);
}

.plant-preview {
  height: calc(100vh - 100px);
  width: 100vw;
  background-color: #363333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  z-index: 50;
}

.plants-container {
  width: 100vw;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  * {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #background {
    margin: auto;
    margin-top: 0;
  }
}

.max-image {
  max-height: 100%;
  max-width: 100%; 
}

.plant-popup {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  height: calc(100vh - 100px);
  width: 100vw;
  z-index: 20;

  p {
    font-weight: 800;
    font-size: 1.2rem;
    color: white;
  }

  .grid {
    display: grid;
    width: 90%;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 5%;
  }

  .plant-card {
    background-color: #e6d8ce;
    color: white;
    margin: 2%;
    margin-left: 20%;
    width: 80%;
    height: calc(80vh - 100px);
    box-sizing: border-box;
    padding: 0 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      text-align: left;
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: calc(100vh - 100px);
    margin-left: 12.5%;

    #propogation-img {
      width: 60%;
    }

    p {
      text-shadow: 4px 4px 9px black;
    }
  }

  .plant-popup-img {
    grid-column: 2/3;
  }

  .underline-item {
    color: white;
  }

  .underline-item::after {
    background-color: white;
  }
}

.pointer-hover {
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-aspect-ratio: 13/10) {
  .plants-color-background {
    background: linear-gradient(#a0b7da 0%, #a0b7da 56.764vw, #7b92b7 56.674vw, #7b92b7);
  }
}

@media (min-height: 3001px) and (min-width: 3999px) {
  .plants-color-background {
    background: linear-gradient(#a0b7da 0%, #a0b7da 2270px, #7b92b7 2270px, #7b92b7);
  }
}