#yearbook-page {
  position: absolute;
  display: grid;
  background-color: rgba($color: #131313, $alpha: 0.9);
  grid-template-columns: 10% 80% 10%;
  width: 100%;
  height: 100vh;
  z-index: 5;
  overflow: hidden;
}

.yearbook {
  grid-column: 2;
  zoom: 0.74;
  width: auto;
  margin: auto;
}

.team-grid {
  display: inline-grid;
  width: 85%;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 29%);
  height: 85%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-photo {
  width: 95%;
  height: 70%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  background-color: #c7e0ff;
  color: #131313;

  h4 {
    margin: 8px 0;
    font-size: calc(8px + 0.5vmin);
  }

  p {
    margin: 0;
    font-size: calc(8px + 0.3vmin);
  }
}

.profile-photo:hover .overlay {
  opacity: 1;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    margin: 0;
    margin-top: 10px;
    font-size: calc(8px + 0.5vmin);
  }

  p {
    font-size: calc(8px + 0.3vmin);
    margin: 0;
  }
}

.page {
  border-radius: 4px;
  outline: 1px solid black;
  opacity: 1;
  background: white;
}

.cover-img {
  width: 100%;
  height: auto;
}
