.yearbook-page {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 100%;
  height: 80vh;
}

.yearbook {
  grid-column: 2;
  width: fit-content;
  margin: auto;
}

.team-grid {
  display: inline-grid;
  width: 70%;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
  height: 60%;
  * {
    padding: 5%;
  }
}

.fake-pic {
  background: gray;
  width: 80%;
  height: 40%;
}

.page {
  outline: 3px solid black;
  opacity: 1;
  background: white;
}

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  grid-row-start: 1;
  margin: auto;
  font-family: 'Material Icons', serif;
  font-size: 50px;
  font-style:normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  cursor: pointer;
  transition: .15s ease-out;
  margin-left: 1em;
  margin-right: 1em;
  user-select: none;
  color:rgb(65, 65, 65);
}

.icon:hover {
  transform: scale(1.75);
  transition: .1s ease-out;
  color: black;
}