#yearbook-icon {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 60px;
  height: auto;
  color: black;
  transition: 0.2s ease;
  z-index: 5;
}

#yearbook-icon img {
  width: 100%;
  height: auto;
}

#yearbook-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}
