.yearbook-page {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 80vh;
  border: 0px;
}

.yearbook {
  grid-column: 2;
  /*width: fit-content;*/
  margin: auto;
  border: 0px;
}

.team-grid {
  display: inline-grid;
  width: 70%;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
  height: 60%;
  * {
    padding: 5%;
  }
}

.fake-pic {
  background: gray;
  width: 80%;
  height: 40%;
}

.page {
  border-radius: 4px;
  outline: 1px solid black;
  opacity: 1;
  background: white;
}


.cover-img {
  width: 100%;
  height: auto;
}
