.App {
  text-align: center;
}

.bound0 {
  background-color: cyan;
  position: fixed;
  top: 400px;
  left:0px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

.bound1 {
  background-color: cyan;
  position: fixed;
  top: 400px;
  right: 0px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

#discard {
  position: fixed;
  top: 430px;
  left: 110px;
}

#keep {
  position: fixed;
  top: 430px;
  right: 110px;
}