.App {
  text-align: center;
}

.bound {
  border: 2px solid black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./assets/dropbox.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  z-index: -1;
}

.bound0 {
  top: 400px;
  left: 0px;
}

.bound1 {
  top: 400px;
  right: 0px;
}

#discard {
  position: fixed;
  top: 430px;
  left: 110px;
}

#keep {
  position: fixed;
  top: 430px;
  right: 110px;
}
.fadeInText {
position: absolute;
width: 1136px;
height: 68px;
left: 30px;
top: 0px;

font-family: Anonymous Pro, monospace;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 34px;
letter-spacing: 0.04em;
color: #000000;
}
.fade-wrapper {
    transition:opacity ease-in-out;
}
.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}