body {
  margin: 0px;
}

.App {
  text-align: center;
}

.bound0 {
  top: 400px;
  left: 0px;
}

.bound1 {
  top: 400px;
  right: 0px;
}

#discard {
  position: fixed;
  top: 430px;
  left: 110px;
}

#keep {
  position: fixed;
  top: 430px;
  right: 110px;
}

.minimal-button {
  border: none;
  background: none;
  font-family: 'B612', sans-serif;
  font-size: calc(10px + 2vmin);
  transition: 0.2s cubic-bezier(.08,.51,.95,.49);
  cursor: pointer;
}

.minimal-button:hover {
  transform: scale(1.1);
}

.minimal-button:active {
  filter: brightness(0.5);
}

#audio-toggle {
  cursor: pointer;
  width: 60px;
  height: auto;
  position: absolute;
  left: 40px;
  top: 20px;
  transition: 0.2s ease;
  z-index: 5;
  &:hover {
    transform: scale(1.05);
  }
}

.audioIcon {
  width: 100%;
  height: auto;
}

.fadeInText {
  position: absolute;
  width: 80%;
  height: 68px;
  left: 30px;
  top: 0px;
  
  font-family: Anonymous Pro, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.04em;
  color: #000000;
}

.fade-wrapper {
  transition:opacity ease-in-out;
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}