.App {
  text-align: center;
}

.bound {
  border: 2px solid black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./assets/dropbox.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  z-index: -1;
}

.bound0 {
  top: 400px;
  left: 0px;
}

.bound1 {
  top: 400px;
  right: 0px;
}

#discard {
  position: fixed;
  top: 430px;
  left: 110px;
}

#keep {
  position: fixed;
  top: 430px;
  right: 110px;
}

.minimal-button {
  border: none;
  background: none;
  font-family: 'B612', sans-serif;
  font-size: calc(10px + 2vmin);
  transition: 0.2s cubic-bezier(.08,.51,.95,.49);
  cursor: pointer;
}

.minimal-button:hover {
  transform: scale(1.1);
}